name: Ultimate Monitor

on:
  schedule:
    - cron: '0 0,6,12 * * *' # 每天北京时间 8点, 14点, 20点 各跑一次
  workflow_dispatch:

# 赋予仓库写入权限，用于保存历史记录
permissions:
  contents: write

jobs:
  run-monitor:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run script
      env:
        PUSH_TOKEN: ${{ secrets.PUSH_TOKEN }}
      run: |
        python main.py

    # 自动提交 history.json 回仓库
    - name: Commit history
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add history.json
        git diff-index --quiet HEAD || (git commit -m "Update history [skip ci]" && git push)
